<h3>Name: <%= @shelter.name %></h3>
<h3>Address: <%= @shelter.address %></h3>
<h3>City: <%= @shelter.city %></h3>
<h3>State: <%= @shelter.state %></h3>
<h3>Zip: <%= @shelter.zip %></h3>
<h3><a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</h3>
<%=link_to "Delete Shelter", "/shelters/#{@shelter.id}", :method => :delete%>
<p><%= link_to "Pets", "/shelters/#{@shelter.id}/pets" %></p>
