<section id=<%="app#{@application.id}"%>>
    <p>Name: <%= @application.name %></p>
    <p>Address: <%= @application.address %></p>
    <p>City: <%= @application.city %></p>
    <p>State: <%= @application.state %></p>
    <p>Zip: <%= @application.zip %></p>
    <p>Phone Number: <%= @application.phone_number %></p>
    <p>Describe why you would make a good home: <%= @application.description %></p>
</section>
