<h2>All Pets</h2>
  <%@pets.each do |pet|%>
  <img src="<%=  pet.image %>" alt="<%= pet.image %>" style="width:200px">
  <h4><a href="/pets/<%= pet.id %>">Name: <%= pet.name %></a></h4>
  <h4>Approximate Age: <%= pet.approximate_age %></h4>
  <h4>Sex: <%= pet.sex %></h4>
  <h4>Shelter Name: <a href="/shelters/<%= pet.shelter_id %>"><%= pet.shelter_name %></a></h4>
  <%=button_to "Edit #{pet.name}'s info!", "/pets/#{pet.id}/edit", :method => :get%>
  <p><%=button_to "Delete #{pet.name}", "/pets/#{pet.id}", :method => :delete%></p>
  </p>
  <% end %>
