<% flash.each do |type, msg| %>
  <div>
    <font size="5" color="red"><%= msg %></font>
  </div>
<% end %>

<h1>Add Review</h1>

<%= form_tag "/shelters/#{@shelter_id}" do %>


  <%= label_tag :title %>
  <%= text_field_tag :title %><br>

  <%= label_tag :rating %>
  <%= text_field_tag :rating %><br>

  <%= label_tag :content %>
  <%= text_field_tag :content %><br>

  <%= label_tag :picture %>
  <%= text_field_tag :picture %><br>

  <br>
  <br>
  <%= submit_tag 'Submit'%>

<% end %>
